body {
    background: -webkit-linear-gradient(45deg, rgb(219, 219, 219), rgb(153, 153, 153));
    background: -moz-linear-gradient(45deg, rgb(219, 219, 219), rgb(153, 153, 153));
    background: linear-gradient(45deg, rgb(219, 219, 219), rgb(153, 153, 153));
    margin: 0 auto;
}

.main {
    /* border: 2px solid red; */
    height: 100%;
    margin: 0 auto;  
}

.balance {
    /* border: 2px solid blue; */
    margin-top: 130px;
    text-align: center;
}

.token_balance {
    height: 60px;
    display: inline-block;
}

.balance p {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    display: inline-block;
    color: white;
    -webkit-text-stroke: 2px #000000;
}

.up_menu {
    padding-top: 3.3%;
    margin-top: 90px;
    background-color: #1E1E1E;
    width: 850px;
    height: 180px;
    border-radius: 20px;
    margin-inline: 10%;
    /* border: 2px solid rgb(0, 255, 115); */
}

.up_menu p {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    display: inline;
    line-height: 5px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px #000000;
}

.up_menu img {
    display: inline;
    margin-right: 3%;
}

.left {
    margin-left: 3%;
    /* border: 2px solid rgb(159, 3, 127); */
    display: inline-block;
    width: 48%;
}

.right {
    /* border: 2px solid rgb(255, 201, 201); */
    display: inline-block;
    width: 48%;

}

.moneta{
    margin-top: 140px;
    margin-inline: 20%;
    display: inline-block;
    text-align: center;
}

.trash {
    margin-top: 140px;
    margin-inline: 10%;
    width: 850px;
    height: 180px;

}

.energy {
    margin-left: 30%;
}

.menu_dawn {
    margin-top: 3%;
    width: 850px;
    height: 180px;
}
